<p>about works!</p>
<form (ngSubmit)="OnSubmit(f)"    >
<!-- <form (ngSubmit)="OnSubmit(f)" #f="ngForm">-->
    <div class="form-group">
      <label for="firstName">Name</label>
      <input type="text" name="Name" id=" firstName" ngModel #firstName="ngModel" required class="form-control">
      <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
        Name is required!
      </div>
      <!-- (change)="logIt(comment.value)" -->
    </div>
    <div class="form-group">
      <label for="email">Mail</label>
      <input  type="email"  id="email" 
          name="email"   ngModel 
          required       email 
      class="form-control">
    </div>
    <div class="form-group">
      <label for="commment">Comment</label>
      <input type="text" name="comment" id="comment" ngModel #comment="ngModel" required class="form-control">
      <div class="alert alert-danger" *ngIf="comment.touched && !comment.valid">
        Comments is required!
      </div>
      <!-- (change)="logIt(comment.value)" -->
    </div>
    <div class="form-group">
      <label for="secret">Secret Questions</label>
      <select id="secret" class="form-control" name="secretQuestion" ngModel>
        <option value="street">Your first street?</option>
        <option value="middlename">Your middle name?</option>
      </select>
    </div>
   <!-- <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button> -->
     <button class="btn btn-primary" (click)="log()">Submit</button>
  </form>
  
